# All the CI required environment variables will be listed here
PROJECT_ID="andela-learing"
PROJECT_NAME=travella-frontend
PRODUCTION_COMPUTE_ZONE="us-central1"# might change
STAGING_COMPUTE_ZONE="us-central1" # confirm on andela learining travella cluster
DEPLOY_SCRIPTS_REPO="https://github.com/andela/travel_tool_deployment_scripts"
CLONE_BRANCH="master"
PRODUCTION_CLUSTER_NAME="travella-production"
STAGING_CLUSTER_NAME="travella-staging"
PRODUCTION_INGRESS_STATIC_IP_NAME="travella-production-frontend"
STAGING_INGRESS_STATIC_IP_NAME="travella-staging-frontend"
