/* move this to header */
.mdl-layout__header {
  height: 78px;
  width: 1440px;
  background-color: #ffffff;
}

.logo-icons {
  height: 30px;
  width: 100px;
  margin-top: 15px;
}

.nav-size {
  margin-right: 25px;
}
.search-size {
  margin-right: -40px;
}
.navbar-notification {
  height: 21.13px;
  width: 16.25px;
  margin-top: 15px;
  color: gray;
}

.user-icon {
  height: 32px;
  width: 161px;
  margin-right: 150px;
  margin-top: 15px;
}

.text-size {
  margin: 7px;
  color: #4f4f4f;
  font-family: "DIN Pro";
  font-size: 14px;
  height: 21px;
  width: 90px;
  line-height: 21px;
}

.navbar-dropdown {
  color: gray;
}

.mdl-badge.mdl-badge:after {
  box-sizing: border-box;
  top: 15px;
  right: -10px;
  height: 17px;
  width: 17px;
  border: 1px solid #ffffff;
  background-color: #0459e4;
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.13px;
  line-height: 12px;
  text-align: center;
}

.mdl-upic {
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  border: 1px solid #ffffff;
  margin-right: 2px;
}

.mdl-Icons {
  margin-bottom: 5px;
}
.mdl-Icon {
  height: 4.99px;
  width: 8.99px;
}

.mdl-list {
  position: relative;
  top: -55px;
  left: 8px;
  margin: 0 2px;
}
.mdl-menu__item {
  height: 21px;
  width: 50px;
  color: #3359db;
  font-family: "DIN Pro";
  font-size: 16px;
  line-height: 21px;
}
.mdl-menu {
  width: 50px;
  height: 25px;
  border-radius: 2px;
  background-color: #ffffff;
}
